.contenedor {
	display: flex;
	flex-wrap: wrap;
}
.a {
	width: 40%;
}
.b {
	width: 60%;
}
.c {
	width: 60%;
}
.d {
	width: 40%;
}
.e {
	width: 50%;
}
.f {
	width: 50%;
}
.row-footer{
	display: flex;
	align-items: space-between;
}
.col-1-3{
	width: 40%;
	margin: 0% 0% 0% 40px;
}
.t-center {
	margin: 0%;
}
.flex-box{
    display: grid;
    grid-template-columns: 50% 50%;
}
.row-horizontal{
	display: flex;
	justify-content: space-between;
}
.col-1-3-7{
	margin: 0%;
	width: 35vh;
}
